# Variáveis de ambiente
.env
.env.local
.env.*.local

# Python
__pycache__/
*.pyc
.venv/
venv/

# Banco de dados
postgres_data/

# Node / Frontend
node_modules/
dist/
build/

# Logs
*.log

# Sistema operacional
.DS_Store
Thumbs.db